.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon--clickable {
  cursor: pointer;
}

.icon-gh {
  width: 1.025390625em;
}

.icon-mail {
  width: 1.5556640625em;
}

.icon-phone {
  width: 0.7548828125em;
}

.icon-pin {
  width: 0.7783203125em;
}

.icon-linkedin {
  width: 0.994140625em;
}
