<template>
  <transition
    :css="false"
    @before-enter="beforeEnter"
    @enter="enter"
    @after-enter="afterEnter">
    <slot />
  </transition>
</template>

<script>
  import anime from 'animejs'

  export default {
    methods: {
      beforeEnter (el) {
        anime.set(el, {
          translateY: -10,
          opacity: 0
        })
      },
      enter (el, done) {
        anime({
          targets: el,
          translateY: 0,
          opacity: 1,
          duration: 750,
          easing: 'cubicBezier(0.25, 0.8, 0.55, 1)',
          complete: done
        })
      },
      afterEnter (el) {
        this.$emit('after-enter')
      }
    }
  }
</script>
