<template>
  <transition
    :css="false"
    @before-enter="beforeEnter"
    @enter="enter"
    @after-enter="afterEnter">
    <slot />
  </transition>
</template>

<script>
  import anime from 'animejs'

  export default {
    methods: {
      beforeEnter (el) {
        const title = el.querySelector('h1')
        const sub = el.querySelector('h2')
        anime.set(title, {
          translateY: 40,
          opacity: 0
        })
        anime.set(sub, {
          translateY: 20,
          opacity: 0
        })
      },
      enter (el, done) {
        const title = el.querySelector('h1')
        const sub = el.querySelector('h2')

        const tl = anime.timeline()
        tl.add({
          targets: title,
          translateY: 0,
          opacity: 1,
          duration: 1000,
          easing: 'cubicBezier(0.25, 0.8, 0.55, 1)'
        })
        tl.add({
          targets: sub,
          translateY: 0,
          opacity: 1,
          duration: 650,
          easing: 'cubicBezier(0.25, 0.8, 0.55, 1)',
          complete: done
        })
      },
      afterEnter (el) {
        this.$emit('complete')
      }
    }
  }
</script>
