<template>
  <ul class="contacts">
    <li
      v-for="(item, i) in contacts"
      :key="i"
      class="contacts__item">
      <a
        :href="item.link"
        :title="item.title">
        <icon :name="item.icon" />
      </a>
    </li>
  </ul>
</template>

<script>
  import Icon from '@/components/Icon'

  export default {
    components: {
      Icon
    },
    data () {
      return {
        contacts: [
          {
            title: 'GitHub',
            link: 'https://github.com/zsavajji',
            icon: 'gh'
          },
          {
            title: 'Send me a message on Telegram',
            link: 'https://t.me/zsavajji',
            icon: 'tg'
          },
          {
            title: 'Send me an e-mail',
            link: 'mailto:hellothere@andreafagg.in',
            icon: 'mail'
          },
          {
            title: 'Contact me on LinkedIn',
            link: 'https://www.linkedin.com/in/afaggin',
            icon: 'linkedin'
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
  .contacts {
    @include neutralize-list;
    display: flex;
    align-items: center;
    font-size: 30px;
  }

  .contacts__item {
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    > a {
      color: $color-light;
    }
  }
</style>
