<template>
  <component
    :is="tag"
    class="heading"
    :class="[
      { 'heading--dark': dark },
      { 'heading--marked': mark }
    ]">
    <span>
      <slot />
      <span
        v-if="mark"
        class="heading__mark" />
    </span>
  </component>
</template>

<script>
  export default {
    props: {
      tag: {
        type: String,
        required: true
      },
      content: {
        type: String
      },
      mark: {
        type: Boolean,
        default: false
      },
      dark: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="scss">
  .heading {
    font-family: $font-headings;
    font-weight: 700;
    color: $color-primary;
  }

  .heading--dark {
    color: $color-text;
  }

  .heading--marked {
    > span {
      position: relative;
      z-index: 0;
    }
  }

  .heading__mark {
    position: absolute;
    bottom: 10%;
    right: -15px;
    width: 40%;
    height: 30%;
    max-height: 20px;
    border-radius: 2px;
    background-color: $color-gradient-from;
    z-index: -1;
  }
</style>
