<template functional>
  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="ico-gh" viewBox="0 0 33 32">
        <path d="M16.408 0c-0.005 0-0.011 0-0.017 0-9.062 0-16.408 7.346-16.408 16.408 0 7.212 4.654 13.338 11.122 15.538l0.116 0.034c0.826 0.151 1.118-0.363 1.118-0.796s0-1.42 0-2.79c-4.583 0.997-5.55-2.206-5.55-2.206-0.317-1.013-0.961-1.847-1.806-2.397l-0.017-0.010c-1.481-1.007 0.121-1.007 0.121-1.007 1.077 0.156 1.98 0.79 2.499 1.676l0.009 0.016c0.609 1.089 1.755 1.812 3.069 1.812 0.626 0 1.214-0.164 1.722-0.452l-0.017 0.009c0.068-0.862 0.44-1.627 1.007-2.196l-0 0c-3.646-0.413-7.474-1.823-7.474-8.058-0-0.029-0.001-0.063-0.001-0.098 0-1.663 0.64-3.177 1.687-4.308l-0.004 0.004c-0.21-0.585-0.331-1.26-0.331-1.964 0-0.86 0.181-1.677 0.508-2.416l-0.015 0.038s1.38-0.443 4.512 1.682c1.232-0.352 2.647-0.554 4.11-0.554s2.877 0.202 4.219 0.58l-0.109-0.026c3.133-2.125 4.502-1.682 4.502-1.682 0.323 0.71 0.512 1.54 0.512 2.414 0 0.679-0.114 1.331-0.323 1.938l0.013-0.042c1.043 1.127 1.683 2.641 1.683 4.304 0 0.034-0 0.069-0.001 0.103l0-0.005c0 6.305-3.838 7.685-7.494 8.058 0.698 0.701 1.129 1.668 1.129 2.735 0 0.101-0.004 0.201-0.011 0.3l0.001-0.013c0 2.196 0 3.969 0 4.502s0.292 0.947 1.128 0.786c6.491-2.286 11.060-8.365 11.060-15.512 0-9.013-7.266-16.328-16.26-16.407l-0.008-0z"></path>
      </symbol>
      <symbol id="ico-mail" viewBox="0 0 50 32">
        <path d="M47.502 32h-45.227l18.293-11.253c1.245 0.705 2.734 1.12 4.32 1.12s3.075-0.415 4.364-1.143l-0.044 0.023zM22.098 17.529c0.794 0.495 1.758 0.789 2.791 0.789s1.997-0.294 2.814-0.802l-0.023 0.013 22.098-13.6v-2.151c0-0.982-0.796-1.778-1.778-1.778v0h-46.222c-0.982 0-1.778 0.796-1.778 1.778v0 2.151zM0 8.107v21.12l17.156-10.56zM32.622 18.667l17.156 10.56v-21.12z"></path>
      </symbol>
      <symbol id="ico-phone" viewBox="0 0 24 32">
        <path d="M6.155 10.379c4.046-1.315 4.653-2.327 3.237-5.766-1.315-3.338-2.124-6.171-5.564-3.642-2.529 1.821-3.338 1.922-3.743 4.35-1.113 7.891 8.902 23.975 16.489 26.403 2.428 0.708 2.832 0 5.564-1.517 3.743-1.922 1.517-3.844-0.809-6.575-2.529-2.731-3.743-2.63-6.575 0.405-2.731 0.202-9.914-11.33-8.599-13.657z"></path>
      </symbol>
      <symbol id="ico-pin" viewBox="0 0 25 32">
        <path d="M12.501 6.064c3.545 0 6.344 2.892 6.344 6.437 0 0.016 0 0.034 0 0.052 0 3.475-2.817 6.292-6.292 6.292-0.018 0-0.037-0-0.055-0l0.003 0c-3.545 0-6.437-2.799-6.437-6.344 0.007-3.552 2.885-6.43 6.437-6.437h0.001zM12.501 7.837c-0.014-0-0.030-0-0.046-0-2.551 0-4.619 2.068-4.619 4.619 0 0.016 0 0.032 0 0.048l-0-0.002c0 2.519 2.052 4.571 4.665 4.571 2.523-0.004 4.567-2.048 4.571-4.571v-0c0-2.612-2.052-4.665-4.571-4.665z"></path>
        <path d="M12.501 0c6.811 0 12.408 5.598 12.408 12.501 0 7.090-7.184 14.274-11.755 19.219-0.182 0.173-0.428 0.28-0.7 0.28s-0.518-0.107-0.7-0.28l0 0c-4.571-5.038-11.755-12.035-11.755-19.219 0-6.904 5.597-12.501 12.501-12.501v0zM12.501 1.773c-0.017-0-0.038-0-0.058-0-5.893 0-10.671 4.778-10.671 10.671 0 0.020 0 0.041 0 0.061v-0.003c0 6.251 6.624 12.968 10.729 17.259 4.012-4.292 10.636-11.009 10.636-17.259 0-5.971-4.758-10.729-10.636-10.729z"></path>
      </symbol>
      <symbol id="ico-tg" viewBox="0 0 32 32">
        <path d="M16 0c-8.84 0-16 7.16-16 16s7.16 16 16 16 16-7.16 16-16-7.16-16-16-16zM23.867 10.973l-2.627 12.36c-0.187 0.88-0.72 1.080-1.453 0.68l-6.453-4.76 7.44-6.68c0.32-0.293-0.080-0.44-0.507-0.173l-9.16 5.773-3.96-1.24c-0.853-0.253-0.867-0.84 0.187-1.267l15.413-5.933c0.707-0.32 1.387 0.16 1.12 1.24z"></path>
      </symbol>
      <symbol id="ico-linkedin" viewBox="0 0 32 32">
        <path d="M29.448 0h-27.098c-0.008-0-0.016-0-0.025-0-1.272 0-2.306 1.022-2.325 2.29l-0 0.002v27.417c0.019 1.27 1.052 2.292 2.325 2.292 0.009 0 0.018-0 0.027-0h27.097c0.008 0 0.016 0 0.025 0 1.272 0 2.306-1.022 2.325-2.29l0-0.002v-27.417c-0.019-1.27-1.052-2.292-2.325-2.292-0.009 0-0.018 0-0.027 0h0.001zM9.652 26.788h-4.818v-14.449h4.818zM7.239 10.366h-0.034c-1.612 0-2.652-1.112-2.652-2.497s1.074-2.497 2.715-2.497 2.657 1.079 2.686 2.497-1.041 2.497-2.715 2.497zM26.964 26.788h-4.809v-7.73c0-1.943-0.697-3.269-2.434-3.269-1.133 0.007-2.096 0.731-2.458 1.74l-0.006 0.018c-0.103 0.305-0.163 0.657-0.163 1.023 0 0.052 0.001 0.104 0.004 0.155l-0-0.007v8.070h-4.801s0.063-13.094 0-14.449h4.801v2.044c0.84-1.437 2.376-2.388 4.134-2.388 0.069 0 0.139 0.001 0.207 0.004l-0.010-0c3.16 0 5.527 2.065 5.527 6.505z"></path>
      </symbol>
      <symbol id="ico-download" viewBox="0 0 32 32">
        <path d="M16.005 0c-0.621 0.011-1.12 0.517-1.12 1.14 0 0 0 0 0 0v0 20.106l-7.212-7.192c-0.2-0.204-0.478-0.33-0.786-0.33-0.005 0-0.010 0-0.015 0h0.001c0 0-0 0-0 0-0.632 0-1.145 0.509-1.15 1.14v0.001c0 0.001 0 0.001 0 0.002 0 0.317 0.13 0.603 0.34 0.808l0 0 9.133 9.133h1.14l0.070-0.060 9.133-9.143c0.216-0.206 0.35-0.496 0.35-0.818 0-0.001 0-0.002 0-0.002v0c0-0.63-0.511-1.14-1.14-1.14v0 0c-0.308 0.011-0.583 0.143-0.78 0.35l-0 0-7.192 7.182v-20.016c0.002-0.022 0.002-0.048 0.002-0.074 0-0.5-0.319-0.925-0.765-1.084l-0.008-0.003zM1.16 29.709v0c-0.588 0.057-1.043 0.548-1.043 1.145s0.456 1.089 1.039 1.145l0.005 0h29.709c0.588-0.057 1.043-0.548 1.043-1.145s-0.456-1.089-1.039-1.145l-0.005-0h-29.709z"></path>
      </symbol>
    </defs>
  </svg>
</template>
