@font-face {
  font-family: 'Monaspace Neon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceNeon-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monaspace Neon';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceNeon-Light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceNeon-Light.woff") format("woff");
}

@font-face {
  font-family: 'Monaspace Argon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceArgon-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceArgon-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monaspace Argon';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceArgon-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.101/fonts/webfonts/MonaspaceArgon-Bold.woff") format("woff");
}
