@mixin neutralize-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin scrollbar-custom {

  #{if(&, "&", "*")}::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }

  #{if(&, "&", "*")}::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
  }

  #{if(&, "&", "*")}::-webkit-scrollbar-corner {
      background-color: transparent;
  }

  #{if(&, "&", "*")}::-webkit-scrollbar-thumb {
      background-color: rgba($color-light, 0.3);
  }
}

@mixin placeholder {

  #{if(&, "&", "*")}::-webkit-input-placeholder {
      @content;
  }

  #{if(&, "&", "*")}:-moz-placeholder {
      @content;
  }

  #{if(&, "&", "*")}::-moz-placeholder {
      @content;
  }

  #{if(&, "&", "*")}:-ms-input-placeholder {
      @content;
  }
}

@function em($pixels, $context: $font-size--base) {
  @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
      $context: $context * 1px;
  }
  @return #{$pixels / $context}em;
}

@function rem($pixels) {
  @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
  }
  @return #{$pixels / $font-size--base}rem;
}

@mixin aria-focus {
  #{if(&, "&", "*")}:focus {
    @at-root [data-whatintent="keyboard"] & {
      @content;
    }
  }
}

@mixin pointer-hover {
  #{if(&, "&", "*")}:hover {
    @at-root :global(.no-touchevents) & {
      @content;
    }
  }
}

// Breakpoint viewport sizes and media queries.
@function breakpoint-next($name, $breakpoints: $mq-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
@function breakpoint-min($name, $breakpoints: $mq-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.02px
// to work around the limitations of `min-` and `max-` prefixes and viewports with fractional widths.
@function breakpoint-max($name, $breakpoints: $mq-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
@function breakpoint-infix($name, $breakpoints: $mq-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}