$mq-breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$color-base: #f0f0f0;
$color-light: #f0f0f0;
$color-placeholders: #9b92ab;
$color-text: #000000;
$color-primary: #ea893c;
$color-secondary: #472f79;

$color-gradient-from: #df388e;
$color-gradient-to: #2e1f4e;

$font-headings: 'Monaspace Argon', sans-serif;
$font-base: 'Monaspace Neon', sans-serif;

$font-size--mobile: 12px;
$font-size--base: 16px;

$transition-timing: 300ms;
