<template>
  <div id="__fill">
    <nuxt />
    <icon-defs />
  </div>
</template>

<script>
  import IconDefs from '@/components/IconDefs'

  export default {
    components: {
      IconDefs
    }
  }
</script>