<template>
  <div id="__error">
    <div class="error">
      <img
        src="~assets/images/oh_no.png"
        alt="Oh no"
        class="error__image">
      <heading
        tag="h1"
        mark
        dark
        class="error__title">
        Oh no!
      </heading>
      <p class="error__abstract">
        This page does not exist.
      </p>
    </div>
  </div>
</template>

<script>
  import Heading from '@/components/Heading'

  export default {
    components: {
      Heading
    }
  }
</script>

<style lang="scss">
  .error {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .error__image {
    margin-bottom: 25px;

    @include mq($until: md) {
      max-width: 280px;
    }
  }
</style>
