<template>
  <div class="intro">
    <div class="intro-top">
      <cv-transition
        v-show="nameEnd">
        <a
          href="/CV24.zip"
          target="_blank"
          title="Download my resume"
          class="intro__resume">
          <icon name="download" />
        </a>
      </cv-transition>
    </div>
    <intro-transition
      @complete="nameEnd = true">
      <div
        v-show="ready"
        class="intro__content">
        <heading
          tag="h1"
          mark
          class="intro__title">
          ANDREA FAGGIN
        </heading>
        <heading
          tag="h2"
          class="intro__sub">
          lead developer
        </heading>
      </div>
    </intro-transition>
    <div class="intro__bottom">
      <contacts-transition>
        <contacts v-show="nameEnd" />
      </contacts-transition>
    </div>
  </div>
</template>

<script>
  import Contacts from '@/components/Contacts'
  import Heading from '@/components/Heading'
  import Icon from '@/components/Icon'
  import IntroTransition from '@/components/transitions/IntroTransition'
  import ContactsTransition from '@/components/transitions/ContactsTransition'
  import CvTransition from '@/components/transitions/CvTransition'

  export default {
    components: {
      Contacts,
      Heading,
      Icon,
      IntroTransition,
      ContactsTransition,
      CvTransition
    },
    jsonld () {
      return {
        '@context': 'https://schema.org',
        '@type': 'Person',
        'address': {
          '@type': 'PostalAddress',
          'addressLocality': 'Veggiano, Padova',
          'addressRegion': 'IT',
          'postalCode': '35030',
          'streetAddress': 'Via Pedagni, 28'
        },
        'email': 'hellothere@andreafagg.in',
        'image': 'https://andreafagg.in/me.jpg',
        'jobTitle': 'Lead web developer',
        'name': 'Andrea Faggin',
        'alumniOf': 'Università degli Studi di Padova',
        'birthPlace': 'Padova, IT',
        'birthDate': '1992-03-06',
        'gender': 'male',
        'nationality': 'Italian',
        'telephone': '+393491502239',
        'url': 'https://andreafagg.in'
      }
    },
    data () {
      return {
        ready: false,
        nameEnd: false
      }
    },
    mounted () {
      setTimeout(() => {
        this.ready = true
      }, 250)
    }
  }
</script>

<style lang='scss'>
  .intro {
    display: grid;
    height: 100%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 30px 1fr 30px;
    background-image: linear-gradient(135deg, $color-gradient-from, $color-gradient-to);
  }

  .intro-top {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: center;
  }

  .intro__content {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(md) {
      align-items: center;
    }
  }

  .intro__bottom {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
  }

  .intro__resume {
    font-size: 42px;
    color: $color-light;
  }

  .intro__title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 15px;
  }

  .intro__sub {
    font-size: 42px;
  }
</style>
